* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ccc;
  display: flex;
  flex-direction: row;
}

/* Utility Styles */

li {
  list-style-type: none;
  cursor: pointer;
}

nav {
  width: 100vw;
  background: #ff9900;
  /* min-width: 1100px; */
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  max-width: 1100px;
  margin: auto;
}
nav ul li {
  color: white;

  padding: 5px;
  border-radius: 5px;
  position: relative;
  margin-left: -250px;
}
nav ul li:hover {
  background: #ff9100;
  color: #fff;
}

nav ul li:hover ul {
  display: block;
}
/* Product Drop Stle */

nav ul li ul {
  background: #fff;
  position: absolute;
  margin-left: 50px;
  margin-top: -5px;
  width: 250px;
  display: none;
}

nav ul li ul li {
  margin: auto;
  color: #000;
}

.Link {
  color: #000;
  text-decoration: none;
}
.Link:hover {
  color: white;
}
.integration ul {
  background: #fff;
  margin-top: 2px;
  margin-left: -6px;

  width: 150px;
}

.integration i {
  margin-left: 10px;
}
